
    <h1>Generate Game</h1>

    <form action="/game" method="POST">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="name" required>
      </div>
    
      <div class="form-group">
        <label for="content">Release Date</label>
        <input type="text" class="form-control" id="content" name="first_release_date" required/>
      </div>

      <div class="form-group">
        <label for="content">Platforms</label>
        <input type="text" class="form-control" id="content" name="platforms" required/>
      </div>
    
      <input type="submit" class="btn btn-primary">
    </form>