<h2>Profile Page</h2>

<h3>Welcome to your profile!</h3>

<p>Id: <%= id %></p>
<p>First Name: <%= first_name %></p>
<p>Last Name: <%= last_name %></p>
<p>Email: <%= email %></p>

<form action=""></form>
