<h1>Write a Review</h1>

<form action="/reviews" method="POST">
    <div class="form-group">
      <label for="first_name">First Name</label>
      <input type="text" class="form-control" id="first_name" name="first_name" required>
    </div>
    <div class="form-group">
        <label for="last_name">First Name</label>
        <input type="text" class="form-control" id="last_name" name="last_name" required>
    </div>
      
    <div class="form-group">
        <label for="review">Bio</label>
        <textarea type="text" class="form-control" id="review" name="review" required></textarea>
    </div>
      
    <input type="submit" class="btn btn-primary">
</form>