@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-color: #b2b4b2;
  font-family: ;
}

nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1, h2 {
  color: #514689;
}

#logo {
  max-width: 500px;
}

/* ::placeholder {
  color: rgb(231, 231, 231);
}

:placeholder-shown {
  color: rgb(231, 231, 231);
} */

