/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */

body {
  background-color: #b2b4b2;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1, h2 {
  color: #514689;
}

#logo {
  max-width: 500px;
}

input::placeholder {
  color: rgb(231, 231, 231);
  opacity: 10%;
}

input:placeholder-shown {
  color: rgb(231, 231, 231);
}

